/* 
Author: KronosCbs
Last Modified on: Jan 23, 2015
*/
/* Common rules */

body,
html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #0B0408;
    overflow-x: hidden;
    overflow-y:hidden;
}
/* Common rules */
/* Stack rules */

.columns {
    background-color: inherit;
    height: 100%;
}

.blocks {
    background-color: inherit;
    opacity: 0.4;
    height: 33.33%;
    border: 1px solid #0B0408;
    position: relative;
    transition: opacity 800ms ease-out ;
    -webkit-transition : opacity 800ms ease-out ;
    -moz-transition: opacity 800ms ease-out ;
}

.blocks:hover {
    opacity: 1;
}


.blocks:hover .namebanner {
    opacity: 0.4;
    transition: opacity 400ms ease-in 100ms;
    -webkit-transition :opacity 800ms ease-out ;
    -moz-transition :opacity 800ms ease-out ;
}

#decodeblock {
    background: #0B0408 url('../img/dis1optim.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#designblock {
    background: #0B0408 url('../img/design1optim.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#fifablock {
    background: #0B0408 url('../img/fifa1optim.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#cryptoblock {
    background: #0B0408 url('../img/cryp1optim.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;

}

#crosswordblock {
    background: #0B0408 url('../img/dis1optim.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#sscbsblock {
    background: #0B0408 url('../img/sscbs1optim.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;

}

#sponsorblock {
    background: #0B0408 url('../img/sponsors.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#eventblock {
    background: #0B0408 url('../img/dis1optim.jpg') center center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}
/* Stack rules */
/* other elements */

.namebanner {
    padding: 10px;
    font-size: 1em;
    color: #272727;
    background-color: #fff;
    position: absolute;
    bottom: 40%;
    opacity: 0;
    border: 1px solid #000;
    transition: opacity 200ms ease-out 500ms;
    -webkit-transition :opacity 200ms ease-out 500ms;
    -moz-transition :opacity 200ms ease-out 500ms;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

.columns > div:target {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 1;
    z-index: 10;
    transition: opacity 1200ms ease-in;
    -webkit-transition : opacity 1200ms ease-in;
    -moz-transition : opacity 1200ms ease-in;
    border: 0;
}

.columns > div:target .namebanner {
    display: none;
}

.contentbox {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: transparent;
    display: none;
}

.columns > div:target .contentbox {
    display: block;
    z-index: 5;
    overflow-x: hidden;
    overflow-y:auto;
}

.topbar {
    height: 10%;
    text-transform: uppercase;
}

.topbar div {
    font-size: 0.7em;
    font-weight: 900;
    text-align: right;
    margin-top: 15px;
}

.topbar div a {
    color: #e5e5e5;
    text-decoration: none;
    margin-right: 10px;
}

.topbar div a:hover {
    color: #fff;
}

.topbar div a[href="#base"] {
    font-size: 1.1em;
    color:#ededed;
}


.wall {
    background-color: transparent;
    height: 25%;
    font-weight: 300;
    font-size: 2.7em;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    opacity: 0.9;
}

.informbox {
    background-color: #fff;
    height: auto;
    background-color: #EEEEEE;
    padding: 30px 20px;
    color:#666;
    font-size: 1em;

}
/* Hotfix #1 : improves media queries where div were stacked */

@media screen and (min-width: 48em) {
    body,
    html {
        height: 100%;
    }
    .columns {
        height: 33.3333%;
    }
    .blocks {
        height: 100%;
        opacity: 0.25;
    }
    .informbox{
        height: 65%;
    }
}

.insideblock {
    height: 100%;
    width: 100%;
    padding:35px;
}

.insideblock:not(:first-child){
    padding: 40px;
}


.boxinside {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border: 1px solid #c7c7c7;
}
